.homeContainer {
  width: 80%;
  height: 500px;
  align-items: center;
  margin: 0px auto;
  background-color: #9fbcea80;
  margin-top: 60px;
  padding-top: 20px;
  border-radius: 10px;
}

.homeCard {
  margin: 0px auto;
  background: rgba(255, 255, 255, 1);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.6px);
  -webkit-backdrop-filter: blur(3.6px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.cardText {
  font-size: 30px;
  font-weight: bold;
  color: white;
}

.homeRibbon {
  margin-top: -10px;
}

